<div class="recipes"><h1>Recipes</h1></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-11 row justify-content-center">
            <div class="col-md-6" *ngFor="let recipe of recipes">
                <div class="card mb-3 cursor-changer" (click)="redirect(recipe._id)" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4" style="background-image: url({{recipe.img}}); background-size: cover;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{recipe.name}}</h5>
                                <p class="card-text">{{recipe.time}} minutes</p>
                                <p class="card-text"><small class="text-muted">{{recipe.author}}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>